#backg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  #btn {
    border: solid 1px;
    border-radius: 50px;
    transition: 1s;
    background-color: rgb(9, 9, 171);
    color: white;

    
}
#btn:hover {
    transform: scale(1.2 , 1.2);
}

  
.cont {
    position: fixed;
    width: 100%;
}